.form-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;  
  row-gap: 18px;      
}

.full-row {
  grid-column: span 2;
}

.form-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}