.loader{
    min-height: 70vh;
    display: flex;
    align-items: center;   
    justify-content: center; 
}

.no-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    img{
        height: 500px;
    }
}

.custom-table{
    padding-top: 10px;
    padding-bottom: 10px;

    .table-container{
        padding-bottom: 10px;
        min-height: 500px;
        max-height: 80vh;
        overflow: auto;

        table {
            .mat-mdc-header-cell {
                border-top-color: var(--mat-sys-outline, rgba(0, 0, 0, 0.12));
                border-top-width: 1px;
                border-top-style: solid;
                background-color: #e0e2ec;
                // background-color: var(--mat-button-toggle-selected-state-background-color, var(--mat-sys-secondary-container));
            };
            

            .action-btns{
                display: flex;
                align-items: center;
                gap: 8px;

                .mat-mdc-icon-button{
                    background-color: #F0F2F8;
                }

                button {
                    .mat-icon{
                        height: 18px;
                        width: 18px;
                        font-size: 18px;
                    }
                }
            }
        }

        .mat-divider{
            border-top-color: var(--mat-sys-outline, rgba(0, 0, 0, 0.12));
            border-bottom-width: 1px;
        }
    }

    .paginator {
        padding-top: 10px;

       ::ng-deep mat-paginator .mat-mdc-paginator-container
        .mat-mdc-paginator-range-actions{
            column-gap: 6px;

            .mat-mdc-icon-button {
                background-color: #EBEDF5;
            }
        }
            
    }
}

